$tableColor: #06870a;
$buttonTabColor: #a39b14;

.table {
  background-color: #e0e98e;
  display: flex;
  flex-direction: row;
  margin: 2px 2px;
  height: 98vh;
  z-index: 1;
}

.mainTable {
  display: block;
  text-align: center;
  width: 74%;
  height: max-content;
  min-height: 98vh;
  background-color: $tableColor;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 0;
}

.buttonTable {
  display: flex;
  flex-direction: column;
  background-color: $buttonTabColor;
  border: 2px solid black;
  border-radius: 20px;
  position: fixed;
  top: 2px;
  right: 2px;
  width: 25%;
  min-width: 150px;
  height: 98vh;
  z-index: 1;
}

h1, h2 {
  font-size: 35px;
  color: #0916a3;
  text-align: center;
}

.img {
  display: flex;
  margin: 50px auto;
  height: 30vh;
}

.stand, .hit {
  display: flex;
  width: 120px;
  height: 45px;
  border: 2px solid black;
  border-radius: 45px;
  margin: 10px auto;
  font-size: 20px;
  justify-content: center;
  background: #06870a;
  padding-top: 9px;

  &:hover {
    background-color: darkolivegreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  }

  &:active {
    background: #06870a;
    box-shadow: none;
  }
}

.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.player {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 280px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 8px 5px 5px darkslategray;
  margin: 50px 50px;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  background: white;

}

.cardImg {
  font-weight: bold;
  font-size: 30px;
  margin-top: 50px;
}


.divModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -150px;
  border-radius: 10px;
  background: white;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.9);
  justify-content: space-around;
  z-index: 3;
}

.divModalBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
  font-size: 30px;
  font-weight: bold;
}

.modalButton {
  width: 150px;
  height: 80px;
  border: 2px solid green;
  border-radius: 5px;
  font-size: 30px;
  justify-content: center;
  background-color: lightgreen;

}